<div class="comment-component" [ngClass]="{'small-size': isSmall}">
    <div class="comment-header"> 
        <span class="avatar">
            <i class="fas fa-user"></i>
        </span>
        <span class="name">Jhon Smith</span>
        <div class="actions"> 
            <span class="action">
                <i class="fas fa-pen"></i>
            </span>
            <span class="action">
                <i class="fas fa-trash-alt"></i>
            </span>
            <span class="action">
                <i class="fas fa-check"></i>
            </span>
        </div>
    </div>
    <div class="comment"> 
        <span class="text">{{instruction}}</span>
    </div>
</div>
