<app-language-tasks-home-header></app-language-tasks-home-header>
<div class="language-tasks-home">
    <div class="tabs-wrapper">
        <ul class="horizontal-nav">
            <li class="nav-item active">All</li>
            <li class="nav-item">Pending</li>
            <li class="nav-item">Active</li>
            <li class="nav-item">Done</li>
        </ul>
    </div>
    <div class="table-wrapper"> 
        <div class="table-header"> 
            <div class="th checkbox">
                <app-checkbox type="accent"></app-checkbox>
            </div>
            <div class="th id">ID</div>
            <div class="th task">Task</div>
            <div class="th assign-to">Assign To</div>
            <div class="th unresolved-comments">Unresolved Comments</div>
            <div class="th due">Due</div>
            <div class="th actions">Actions</div>
        </div>
        <div class="table-body"> 
            <div class="tr" *ngFor="let task of tasks | paginate: { itemsPerPage: countPerPage, currentPage: p, totalItems: totalPages }"> 
                <div class="td checkbox">
                    <app-checkbox type="accent"></app-checkbox>
                </div>
                <div class="td id">{{task.queueItem.contentId}}</div>
                <div class="td task">{{task.data.task}}</div>
                <div class="td assign-to">{{task.queueItem.checkout && task.queueItem.checkout.moderatorId ? task.queueItem.checkout.moderatorId : 'Not Assigned'}}</div>
                <div class="td unresolved-comments">
                    <div class="comment-icon" (click)="openCommentsPanel(task)">
                        <i class="fas fa-comment-dots"></i>
                        <span>{{task.queueItem.comments.unresolved}}</span>
                    </div>
                </div>
                <div class="td due">{{task.data.dueDate | dueDate}}</div>
                <div class="td actions">
                    <div class="action-view button no-border" [routerLink]="['/filter-quality/language-tasks', task.queueItem.contentId]"> 
                        <i class="fas fa-eye"></i>
                        <span>View</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-wrapper"> 
            <app-pagination-controls
                (pageChange)="p = $event;"
                >
            </app-pagination-controls>
            <div class="pagination-page-count-wrapper"> 
                <app-pagination-counts (pageCountChange)="onPageCountChange($event)" [countArray]="perPageCounts"></app-pagination-counts>
            </div>
        </div>
    </div>
</div>
<app-comments-panel (doCancel)="closeCommentsPanel()" *ngIf="isCommentsPanel"></app-comments-panel>
